body {
    padding: 50px
}

.list-group-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.list-group-item p {
    cursor: pointer;
}

.btn-outline-primary  {
    width: 100%;
}

.complete {
    text-decoration: line-through;
}